@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-shippori: Shippori Antique B1, sans-serif;
  --font-rock: RocknRoll One, sans-serif;
  --font-staatliches: Staatliches, sans-serif;
  --animate-patate: patate 4s ease-in-out infinite;
  --animate-patate-inverse: patateInverse 3s ease-in-out infinite;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@utility container {
  margin-inline: auto;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
  }
}

.perspective-1000 {
  perspective: 1000px;
  transform-style: preserve-3d;
}

@keyframes infinite-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

  @keyframes infinite-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-infinite-scroll-left {
  animation: infinite-scroll-left;
}

.animate-infinite-scroll-right {
  animation: infinite-scroll-right;
}