@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-shippori: Shippori Antique B1, sans-serif;
  --font-rock: RocknRoll One, sans-serif;

  --animate-patate: patate 4s ease-in-out infinite;
  --animate-patate-inverse: patateInverse 3s ease-in-out infinite;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  @keyframes patate {
    0% {
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }
    33% {
      border-radius: 40% 60% 60% 40% / 50% 50% 60% 60%;
    }
    66% {
      border-radius: 60% 40% 40% 60% / 60% 40% 40% 60%;
    }
    100% {
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    }
  }
  @keyframes patateInverse {
    0% {
      border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    }
    33% {
      border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%;
    }
    66% {
      border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%;
    }
    100% {
      border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    }
  }
}

@utility container {
  margin-inline: auto;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
  .clip-border-patate {
    border: 2px solid var(--foreground);
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  }

  .clip-patate {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }

  .noise-container {
    position: relative;
    height: 100%;
    z-index: 1;
  }

  .noise-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: contrast(320%);
    background: linear-gradient(
        to top right,
        rgba(235, 150, 31, 0.3) -10%,
        rgba(73, 161, 163, 0.78)
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 01 394 394' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='12' numOctaves='12' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    pointer-events: none;
    background-size: cover;
  }

  .noise {
    background-color: #0a0a0a;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
  }
}

.stairs{
  .transition-container{
      position: fixed;
      width: 100vw;
      height: 100vh;
      display: flex;
      left: 0;
      top: 0;
      pointer-events: none;
      z-index: 21;
      div{
          position: relative;
          height: 100%;
          width: 100%;
          background-color: rgba(73, 161, 163);
      }
  }

  .transition-background{
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 1;
      pointer-events: none;
      top: 0;
      left: 0;
  }
}